@charset "UTF-8";
.body{
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 13%;
}
.happyman{
    text-align: center;
    font-family: Hiragino Sans;
    font-size:18px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12%;
    background-color:#faf8f1;
    font-family: Hiragino Sans;
    font-size: 40px;
    font-weight: 600;
    color:#f8b500;
    display: flex;
    justify-content: center;
    align-items: center;

}
.profile{
    display: flex;
    margin-left: 30%;

}

h1{
    text-align: center;
    font-family: Hiragino Sans;
   
}




h2{
    font-family: Hiragino Sans;
    text-align: center;
}
.wrapper{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: #faf8f1;
    color: #424242;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8b500;
    max-width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
}



main {
    font-size: 30px;
    padding-bottom: 15%;
    /*width: 50%;*/
   /* margin: 0 auto;*/
    font-family: Hiragino sans;
   
}
label{
    font-family: Hiragino Sans;
    font-size: 25px;
    

}
/* おまじない */
* {
    box-sizing: border-box;
  }
  body {
    color: #0c0c0d; /* 黒 */
    font-size: 16px;
    line-height: 1.4;
    
  }
  
  /* ここから本文 */
  
  /** ここは下とまとめても問題ないですが、基本的にはページ内でinputのデザインは揃えたほういいと思います */
  input {
    border: 1px solid #0c0c0d4d;
    color: #737373; /* グレー */
    display: inline-block;
    margin: 0 4px;
    
  }
  /* 楕円部 */
  input[type="checkbox"] {
    -webkit-appearance: none;    /* 消してもOK */
    appearance: none;            /* 元々あるチェックボックスを非表示にする */
    background-color: #0c0c0d1a; /* 楕円の色=文字色alpha10% */
    border-radius: 15px;          /* heightの半分 */
    height: 24px; 
    width: 48px;                 /* heightの2倍くらい */
  }
  input[type="checkbox"]:hover {
    background-color: #0c0c0d33;
    border-color: #0c0c0d7f;
    
  }
  input[type="checkbox"]:active {
    background-color: #0c0c0d4d;
    
  }
  input[type="checkbox"]:focus {
    box-shadow: 0 0 0 1px #f8b500 inset, 0 0 0 1px  #f8b500, 0 0 0 4px #0a84ff4d;
  }
  input[type="checkbox"]:checked {
    background-color:  #f8b500; /* 青 */
    border-color:  #f8b500;
  }
  
  /* 中の● */
  input[type="checkbox"]::before {
    background-color: currentColor; /* ●の色=グレー */
    border-radius: 9px;             /* heightの半分 */
    content: "";                    /* おまじない */
    display: inline-block;          /* おまじない */
    height: 18px;                   /* 楕円部のheightより2px小さいくらい */
    margin-left: 2px;               /* 楕円部と●のすき間 */
    margin-top: 2px;                /* 楕円部と●のすき間 */
    transition: margin-left .2s cubic-bezier(.07, .95, 0, 1); /* ヌルっと具合は調整 */
    width: 18px;                    /* heightに合わせる */
  }
  input[type="checkbox"]:checked::before {
    background-color: #ffffff; /* 白（楕円部の色と調整） */
    margin-left: 17px;
  }
.settings{
    margin-left: 5%;

}
img{
    margin-left:45%;
    width: 12%;
    background-color: #faf8f1;
}

/*.plofile_button{
    background:white;
    color: black;
    border:0;
    width:20px;
    height:20px;
    font-size:10px;
    border-radius: 5px;
    font-family: Hiragino Sans;
}
.profile_button:hover{
    background:lightcoral;
    cursor:pointer;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);

}
.modal-content{
    background-color:#f4f4f4;
    margin: 20% auto;
    width: 50%;
    animation-name:modalopen;
    animation-duration: is;
}
@keyframes modalopen{
    form{opacity: 0}
    to{opacity: 1}
}
.modal-header h1{
    margin: 1rem 0;

}
.modal-header{
    background: lightblue;
    padding: 3px 15px;
    display: flex;
    justify-content: space-between;

}
.madalClose{
    font-size: 2rem;
}
.modalClose:hover {
    cursor: pointer;
  }
  
  .modal-body {
    padding: 10px 20px;
    color: black;
  }
  */
