@charset "UTF-8";
.body{
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 13%;
}

.header{
    max-width: 100%;
}

.textbox{
    font-size: 25px;
    border: 3px solid #f8b500;
    border-radius: 7%;
}

select{
    border: 3px solid #f8b500;
    font-size: 25px;
    width: 150px;
    border-radius: 7%;
    color: #424242;
}

p{
    font-size: 5vw;
    font-family: Hiragino Sans;
    font-weight: 500;
}

h1 {
    font-family: Hiragino Sans;
}

br{
    height: 10px;
}
hr{
    color: #ffffff;
    border-width: 2px;
}

button{
    background-color: #e6c260;
    border: none;
    border-radius: 10%;
    width: 30%;
    height: 40px;
    font-size: x-large;
    color: #424242;
    font-weight: 630;
    display: block;
    margin: auto;

}

.wrapper{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: #faf8f1;
    color: #424242;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8b500;
    max-width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 12%;
    background-color: #faf8f1;
    margin: 6%;
}

main {
    padding-bottom: 15%;
    width: 50%;
    margin: 0 auto;
}

.info{
    position: relative;
    bottom: 45px;

}

.name{
    position: relative;
    left: 46px;
    bottom: 30px;
}
