@charset "UTF-8";
.body{
    max-width: 100%;
    margin: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 13%;
}

/*headerは読み込み済みのため消しました。*/

.textbox{
    font-size: 25px;
    border: 3px solid #f8b500;
    border-radius: 7%;
}

select{
    border: 3px solid #f8b500;
    font-size: 25px;
    width: 150px;
    border-radius: 7%;
    color: #424242;
}

p{
    font-size: 25px;
    font-family: Hiragino Sans;
    font-weight: 500;
}

h1 {
    font-family: Hiragino Sans;
}

br{
    height: 10px;
}
hr{
    color: #ffffff;
    border-width: 2px;
}

button{
    background-color: #f4dea0;
    border: none;
    border-radius: 100px;
    width: 30px;
    height: 40px;
    font-size: x-large;
    color: #424242;
    font-weight: 630;
    display: inline;
    text-align: center;
}

.tokushimabtn{
    background-color: #f4dea0;
    border: none;
    border-radius: 100px;
    width: 40px;
    height: 30px;
    font-size: large;
    color: #424242;
    font-weight: 630;
    display: inline;
    margin-left: 25px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: #faf8f1;
    color: #424242;
}



main {
    padding-top: 12%;
    padding-bottom: 15%;
    width: 50%;
    margin: 0 auto;
}

.yoko {
    margin: auto;
    display: inline;
}

/*footerとimgは読み込んでいるため消しました。*/
